*{
    box-sizing: border-box;
}

/* @media scren  { 
    .element{
        min-width: 1140px;
        max-width: 1627;
    }
} */

body{
    margin:0;
    background-image: url('https://wallpapercave.com/wp/wp3165339.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

}

h1{
    font-family: 'Bungee Spice', cursive;;
    font-size: 5vmin;
    color:darkgray;
    letter-spacing: 1vmin;
    text-align: center;
    margin:5px;
}

#mainbody{

    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

#markers{
    display: flex;
    grid-template-columns: repeat(3,10vmin);
    gap: 8vmin;
    margin-top: 1.5vmin;

   
    
}

/* H239 W208 */

#markers>div{
    text-align: center;
    background-color: beige;
    height:119px; 
    width: 940px;
    border-width: 1vh;
    border-style: solid solid;
    border-color:#fbcf24;
    border-radius: 20px;
    background-image: url('https://png.pngtree.com/background/20220725/original/pngtree-african-landscape-africa-savanna-cartoon-picture-image_1770597.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


#board{
    z-index: 5;
    display: flex;
    background-image: url('https://c8.alamy.com/comp/2C866M3/cartoon-cute-doodles-hand-drawn-casino-seamless-pattern-2C866M3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    gap: 3vmin;
    margin: 10px;
    border: solid transparent;
    border-radius: 20px;
    height: 32vh;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

#board>div{
    height: 303px;
    width: 300px;
    border: solid orange;
    border-radius: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottomMarkers{
    height: 134px;
    width: 688px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-color:bisque;
    border-style: solid;
    border-width: 1vh;
    border-radius: 20px;
    background-color: beige;
}


#bottomMarkers > div{

}

#rules{
    border-style: solid double double dashed;
    border-width: 10px;
    border-color: blanchedalmond;
    background-color: orange;
    width: 433px;
    height:108px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 42px;
}

button{
    font-family: 'Bungee Spice', cursive;
    height: 84px;
    width: 90px;
    border: beige;
    border-radius: 20px;
}

#rules>button{
    font-family: 'Bungee Spice', cursive;
    border-radius: 22px;
    border-style: dotted;
    /* background-image: url('https://images.pexels.com/photos/106152/euro-coins-currency-money-106152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
    background-attachment: fixed;
    background-size:171px;
    text-decoration: underline;
    font-size: 26px;
    text-align: center;
}

ul{

    font-size: small;
    height: 61px;
    width: -1px;
}

#bottomMarkers #bankTeller{
    background-color: #fbcf24;
    text-decoration:double;
    width: 91px;
    height: 82px;
    border-width: 5px;
    
}