*{
    box-sizing: border-box;
    /* height: 899px;
    width: 733px; */
}


@media screen  { 
    .element{
        min-height:  1272px;
        max-width: 1369px;
    }
}




body{
    margin:0;
    background-image: url('https://wallpapercave.com/wp/wp3165339.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

}

h1{
    font-family: 'Bungee Spice', cursive;;
    font-size: 5vmin;
    color:darkgray;
    letter-spacing: 1vmin;
    text-align: center;
    margin:5px;
}

#mainbody{

    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

#markers{
    /* display: flex;
    justify-content: flex-start;
    flex-direction: row; */
    grid-template-columns: repeat(3,10vmin);
    gap: 8vmin;
    margin-top: 1.5vmin;
}


#markers #header {
    height: 11vh;
    width: 75vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 42px;
}

#header #subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    gap: -1px;
    margin-top: 18px;
    margin-right: 16px;
}

/* #markers #button{
    
} */

#last {
    margin: 0px;
    height: 3vh;
    width: 15vh;
    border: solid;
    border-radius: 3px;
    border-style: inset;
    font-size: 11px;
    background-color: gold;
    border-color: coral;
   }

   #bet {
    height: 3vh;
    width: 15vh;
    border: solid;
    border-style: inset;
    margin: 0vh;
    margin-bottom: 2vh;
    background-color: gainsboro;
    border-color: coral;
    border-radius: 3px;
}

#bar {
    height: 3vh;
    width: 15vh;
    border: solid;
    border-style: inset;
    margin: 0vh;
    margin-bottom: 0vh;
    background-color: #311313;
    border-color: coral;
    border-radius: 3px;
    background-image: url('https://i.giphy.com/media/TKXIJFGWme1EeBDpkg/giphy.webp');
}

   

img{
    height: 160px;
    width: 160px;
}

/* H239 W208 */

#markers>div{
    text-align: center;
    background-color: beige;
    height:119px; 
    width: 940px;
    border-width: 1vh;
    border-style: solid solid;
    /* border-color:#fbcf24; */
    border-radius: 20px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fback_origin_pic%2F05%2F14%2F15%2F6dc677bb311c333fca6ef3ee7a6eca2d.jpg&f=1&nofb=1&ipt=1332b76e0a43fb872f83f0d92a50379467d2005046d1b71c5ec6423dedb10a23&ipo=images");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}





#board {
    z-index: 5;
    display: flex;
    background-image: url('https://i.imgur.com/3JEtooD.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:cover;
    gap: 3vmin;
    margin: 24px;
    border: solid transparent;
    border-radius: 20px;
    height: 28vh;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

#board>div{
    height: 303px;
    width: 300px;
    border: solid orange;
    border-radius: 20px;    
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExc3R6aTc2eWRiNGNla2oycW12NzlteDV5dnBieHVpc3ZhcGFoMTJ2bSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/DFiuYShYwDntm/giphy.gif');
}

#bottomMarkers{
    height: 134px;
    width: 688px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-color:bisque;
    border-style: solid;
    border-width: 1vh;
    border-radius: 20px;
    background-color: beige;
}


#bottomMarkers > div{

}

#rules{
    border-style: solid double double dashed;
    border-width: 10px;
    border-color: blanchedalmond;
    background-color: orange;
    width: 433px;
    height:108px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 42px;
}

button{
    font-family: 'Bungee Spice', cursive;
    height: 84px;
    width: 90px;
    border: beige;
    border-radius: 20px;

    /* transition: all 0.5s;
    cursor: pointer;
    margin: 5px; */
}

#spin:hover{background-color: bisque;}
#spin:active{
    background-color: #b69f39;
    box-shadow: 0 5px #777;
    transform: translateY(4px);
}

#clear:hover{background-color: bisque;}
#clear:active{
    background-color: #b69f39;
    box-shadow: 0 5px #777;
    transform: translateY(4px);
}


#rules>button{
    font-family: 'Bungee Spice', cursive;
    border-radius: 22px;
    border-style: dotted;
    /* background-image: url('https://images.pexels.com/photos/106152/euro-coins-currency-money-106152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
    background-attachment: fixed;
    background-size:171px;
    text-decoration: underline;
    font-size: 26px;
    text-align: center;
}



ul{

    font-size: small;
    height: 61px;
    width: -1px;
}

#bottomMarkers #bankTeller{
    background-color: #fbcf24;
    text-decoration:double;
    width: 91px;
    height: 82px;
    border-width: 5px;    
}



@media screen and (max-width: 900px) {

    #board{
        height: 41vh;
        width: 97vh;
    }

    #markers #header{
        height: 14vh;
        width: 80vh;
    }

  }


  @media screen and (max-height: 1500px) {

    #body{
        height: 24vh;
    }

    #mainbody{
        margin-top:0px;
    }

    #markers #header{
        height: 13vh;
        width: 79vh;
    }




    
  }


  @media screen and (max-height: 2000px){

    #mainbody{
        margin-top: 0px;
        margin-bottom: 0px;
        width: 74vh;
    }
 /* NOT WORKING */
    #body{
        height: 24vh;
    }

    #board{
        height: 22vh;
        padding: 43px;
    }

    #markers #header{
        width: 57vh;
        gap: 28px;
        margin-left: 9vh;
        height: 14vh;
    }

   


  }

  /* @media screen and (min-width: 700px){

        body {
            margin:0;
            background-image: url('https://wallpapercave.com/wp/wp3165339.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            height: 68vh;
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;
        
        }
    
        h1 {
            font-family: 'Bungee Spice', cursive;;
            font-size: 3vmin;
            color:darkgray;
            letter-spacing: 1vmin;
            text-align: center;
            margin:-7px;
        }
    
        #markers>div {
            text-align: center;
            background-color: beige;
            height:54px; 
            width: 872px;
            border-width: 1vh;
            border-style: solid solid;
            border-color:#fbcf24;
            border-radius: 20px;
            background-image: url('https://png.pngtree.com/background/20220725/original/pngtree-african-landscape-africa-savanna-cartoon-picture-image_1770597.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
        }
    
        #board {
            z-index: 5;
            display: flex;
            background-image: url('https://c8.alamy.com/comp/2C866M3/cartoon-cute-doodles-hand-drawn-casino-seamless-pattern-2C866M3.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            gap: 3vmin;
            margin: 16px;
            border: solid transparent;
            border-radius: 20px;
            height: 24vh;
            padding: 21px;
            justify-content: center;
            align-items: center;
            width: 67vh;
        }
    
    

  } */




@media screen and (max-width: 700px){
    body{
        display: none;
    }
}

@media screen and (max-width: 800px){
    h1{
        letter-spacing: 0vmin;
    }

    #markers #header{
        width: 88vh;
        gap:16px;
        margin-left: -6vh;
        height: 26vh;
    }

    #board{
        height: 42vh;
        padding: 14px;
    }
    

    #header #subheader{
        height: 140px;
        margin-bottom: -1vh;
    }

    #bet{
        height: 5vh;
        width: 18vh;
    }
    #bar{
        height: 5vh;
        width: 18vh;

    }
    #last{
        height: 5vh;
        width: 18vh;

    }


}


@media screen and (max-width: 900px){

    #board{
        height: 48vh;
    }

    #markers #header{
        height: 23vh;
        width: 93vh;
        gap: 20px;
        margin-left: -9vh;
    }

    #header #subheader{
        height: 140px;
        margin-bottom: -1vh;
    }


    #bet{
        height: 5vh;
        width: 18vh;
    }
    #bar{
        height: 5vh;
        width: 18vh;

    }
    #last{
        height: 5vh;
        width: 18vh;

    }




}

@media screen and (max-width: 1000px){

    #markers #header{
        width: 87vh;
        gap:0px;
        margin-left: -6vh;
        height: 19vh;
    }

    #board{
        height: 39vh;
        padding: 9px;

    }

    #header #subheader{
        height: 140px;
        margin-bottom: -1vh;
    }

    #bet{
        height: 5vh;
        width: 18vh;
    }
    #bar{
        height: 5vh;
        width: 18vh;

    }
    #last{
        height: 5vh;
        width: 18vh;

    }


   

}


@media screen and (max-width: 2000px){

    #markers #header{
        width: 87vh;
        gap:0px;
        margin-left: -6vh;
        height: 19vh;
    }

    #board{
        height: 39vh;
        padding: 9px;

    }

    #header #subheader{
        height: 140px;
        margin-bottom: -1vh;
    }

    #bet{
        height: 5vh;
        width: 18vh;
    }
    #bar{
        height: 5vh;
        width: 18vh;

    }
    #last{
        height: 5vh;
        width: 18vh;

    }
   
    

}


@media screen and (max-width: 3000px){

    body{
        margin-right: 0vh;
    }

    #markers #header{
        width: 95vh;
        gap:0px;
        margin-left: -10vh;
        height: 22vh;
    }

    #board{
        height: 39vh;
        padding: 9px;

    }

    #header #subheader{
        height: 140px;
        margin-bottom: -1vh;
    }

    #bet{
        height: 5vh;
        width: 18vh;
    }
    #bar{
        height: 5vh;
        width: 18vh;

    }
    #last{
        height: 5vh;
        width: 18vh;

    }
    


}


  

